<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <style>
    *{
        /* outline: 1px dotted red; */
    }
    h1{
        text-align: center;
    }
    form{
        display: inline-block;
        margin: 20px;
    }
    div{
        display: inline-block;
        /* vertical-align: top; */
        
    }
    li{
        margin: 20px;
    }
    .home{
        margin-left: 600px;
    }

    </style>
</head>
<body>
    <div>
            <h1>Create a New Wish List Item</h1>

        <a class="home" href="/dashboard">Home</a>
        <a class="logout" href="/logout">Logout</a>
    </div>
    <br>
    <form action="/adding/" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="adding">
        <label for="item">Item/Product:</label>
        <input type="text" name="item">
        <br>
        <br>
        <input class="button" type="submit" name="add" value="add">
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>